#main_content {
    width: 80%;
    height: 420px;
    margin: 50px auto;
    overflow: scroll;
    display: flex;
    padding-bottom: 20px;
}

a.link {
    text-decoration: none;
    color: #fd8e44;
}

a.link:hover {
    color: #fcab75;
}

#main_content div {
    margin-right: 50px;
    flex: none;
}

#buy, #sell {
    width: 500px;
}

#most_buy, #most_sell {
    width: 430px;
}

#point_rank {
    width: 350px;
}

#buy h4, #sell h4, #most_buy h4, #most_sell h4, #point_rank h4 {
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fd8e44;
    background-color: #fcab75;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    text-align: center;
}

#main_content div ul {
    padding-left: 10px;
}

#main_content div li {
    margin-bottom: 10px;
    list-style-type: none;
}

#main_content span {
    display: inline-block;
}

#buy span:nth-child(1), #sell span:nth-child(1) {
    width: 280px;
}

#buy span:nth-child(2), #sell span:nth-child(2) {
    width: 100px;
}

#buy span:nth-child(3), #sell span:nth-child(3) {
    width: 100px;
}

#most_buy span:nth-child(1), #most_sell span:nth-child(1) {
    width: 280px;
}

#most_buy span:nth-child(2), #most_sell span:nth-child(2) {
    width: 100px;
}

#most_buy span:nth-child(3), #most_sell span:nth-child(3) {
    width: 30px;
}

#point_rank span:nth-child(1) {
    width: 50px;
}

#point_rank span:nth-child(2) {
    width: 100px;
}

#point_rank span:nth-child(3) {
    width: 120px;
}

#point_rank span:nth-child(4) {
    width: 50px;
}